
        html,
        body {
            margin: 0;
            height: 319.875rem;
            width: 94.97rem;
            padding: 0;
            display: flex;
            position: relative;
        }

   
   
        body {
            display: flex;
            flex-direction: column;
        }

        


        .pai {
            flex: 1;
            background-color: white;
            display: flex;
            flex-direction: column;
            


        }

        
        .filho1 {
            background-color: blue;
            height: 20.45rem;
            display: flex;
            position: relative;
        }

   

        .filho2 {
            background-color: green;
            height: 37.75rem;
            display: flex;
            position: relative;
         

        }

        .imag {flex: 1;}
       
 





        .filho7 {
            background-color: white;
            height: 50%;
            display: flex;
            flex-direction: column;
        }

        .filho8 {
            background-color: pink;
            height: 60%;
            display: flex;
            flex-direction: column;
        }

    

        .lei2 {
            background-color: blue;
            height: 48.5625rem;
            display: flex;
            flex-direction: column;
        }

        .portugal1 {
            background-color: red;
            height: 10%;
        }

        .portugal2 {
            background-color: yellow;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;/
        }

        .portugal3 {
            background-color: white;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .outra {
            background-color: white;
            height: 10%;
        }

        .outra1 {
            background-color: gray;
            height: 24.6875rem;
            display: flex;
            flex-direction: column;


        }

        .uno {
            background-color: white;
            height: 20%;
            width: 100%;
            text-align: center;
            font-size: 200%;
            color: black;
            
        }

        .dos {
            background-color: white;
            height: 90%;
            width: 100%;
            display: flex;
            gap: 2%;
        }

        .interior1 {
            background-color: yellow;
            width: 20%;
        }

        .interior2 {
            background-color: blue;
            width: 20%;
        }

        .interior3 {
            background-color: pink;
            width: 20%;
        }

        .interior4 {
            background-color: red;
            width: 20%;
        }

        .interior5 {
            background-color: yellow;
            width: 20%;
            display: flex;
          
        }

        .metade {width: 50%; background-color: gray;}
        .metade2 {width: 50%; background-color: white;}

        .interior1 img {
            width: 100%;
            height: 100%;
        }

        .interior2 img {
            width: 100%;
            height: 100%;
        }

        .interior3 img {
            width: 100%;
            height: 100%;
        }

        .interior4 img {
            width: 100%;
            height: 100%;
        }

        .filho6 {
            background-color: orange;
            height: 43.75rem;
            display: flex;
        }

        .divisao1 {
            background-color: violet;
            width: 50%;
            display: flex;
            flex-direction: column;
           

        }

        .doido1 {
            background-color: pink;
            height: 25%;
            position: relative;
           
         
        }




        .doido2 {
            background-color: pink;
            height: 25%;
            display: flex;
            position: relative;
            
        }

        .doido3 {
            background-color: pink;
            height: 25%;
            display: flex;
            position: relative;
           
        }

        .doido4 {
            background-color: pink;
            height: 50%;
        }

        .divisao2 {
            background-color: pink;
            width: 50%;
        }

        .divisao2 img {
            width: 100%;
            height: 100%;
        }

        .filho5 {
            background-color: white;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;


        }

        .este {
            background-color: red;
            width: 76rem;
            height: 37rem;
            display: flex;
            flex-direction: column;
        }

        .este1 {
            background-color: white;
            height: 25%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .este2 {
            background-color: white;
            height: 90%;
            display: flex;
            gap: 1%;
        }

        .quadro1 {
            background-color: red;
            width: 25%;
        }

        .quadro1 img {
            width: 100%;
            height: 100%;
        }

        .quadro2 img {
            width: 100%;
            height: 100%;
        }

        .quadro3 img {
            width: 100%;
            height: 100%;
        }

        .quadro4 img {
            width: 100%;
            height: 100%;
        }

        .quadro2 {
            background-color: yellow;
            width: 25%;
        }

        .quadro3 {
            background-color: orange;
            width: 25%;
        }

        .quadro4 {
            background-color: pink;
            width: 25%;
        }

   
        @media (max-width: 48rem) {
  .divisao1,
  .divisao2 {
    display: none;
  }
}

        .filho3 {
            background-color: white;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .filho4 {
            background-color: pink;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .centro {
            background-color: blue;
            width: 80%;
            height: 50%;
            display: flex;
            flex-direction: row;

        }




        .centro1 {
            background-color: pink;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
        }



        .centro2 {
            background-color: pink;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
        }



        .centro3 {
            background-color: pink;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .secao {
            background-color: blue;
            width: 75.6875rem;
            height:  35.1875rem;
            display: flex;
            flex-direction: column;

        }

        .secao1 {
            background-color: white;
            height: 10%;
            text-align: center;
            font-size: 150%;

        }

        .secao2 {
            background-color: white;
            height: 50%;
            display: flex;
        }

        .secao3 {
            background-color: white;
            height: 50%;
            display: flex;
        }

        .um {
            background-color: white; height: 90%;
            width: 50%;
            padding: 1.25rem;
            margin: 0.625rem;
            
        }

        .dois {
            background-color: white;
            height: 90%;
            width: 50%;
            padding: 1.25rem;
            margin: 0.625rem;
           
        }

        .tres {
            background-color: white;
            height: 90%;
            width: 50%;
            padding: 1.25rem;
            margin: 0.625rem;
           
        }

        .quatro {
            background-color: white;
            height: 90%;
            width: 50%;
            padding: 1.25rem;
            margin: 0.625rem;
         
        }

        .cinco {
            background-color: white;
            height: 90%;
            width: 50%;
            padding: 1.25rem;
            margin: 0.625rem;
           
        }

        .seis {
            background-color: white;
            height: 90%;
            width: 50%;
            padding: 1.25rem;
            margin: 0.625rem;
         
        }

        .dois img {
            width: 100%;
            height: 100%;
        }

        .tres img {
            width: 100%;
            height: 100%;
        }

        .quatro img {
            width: 100%;
            height: 100%;
        }

        .um img {
            width: 100%;
            height: 100%;

        }

        .seis img {
            width: 100%;
            height: 100%;
        }

        .filho2 img {
            width: 100%;
            height: 100%;
        }

        .cinco img {
            width: 100%;
            height: 100%;
        }

        .div1 {
            position: absolute;
            top: 20%;
            left: 10%;
            background-color: yellow;
            width: 10%;
            height: 8%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
        }


        .div2 {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 40%;
            color: white;
            font-size: 220%;
        }

       


        .cima1 {
            background-color: white;
            width: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .cima2 {
            background-color: white;
            width: 10%;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .cima3 {
            background-color: white;
            width: 10%;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .cima4 {
            background-color: white;
            width: 10%;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .cima5 {
            background-color: white;
            width: 10%;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .cima6 {
            background-color: white;
            width: 10%;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .cima__ {
            position: absolute;
            background-color: brown;
            left: 15%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 15%;
            height: 50%;
        }
        .filho9 {
            background-color: brown;
            height: 70%;
            display: flex;
            flex-direction: column;
        }

        .penultimo {
            background-color: gray;
            height: 10%;
        }

        .ultimo {
            background-color: black;
            height: 90%;
            display: flex;
            flex-direction: column;
            gap: 10%;
        }

        .ultimo1 {
            background-color: gray;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ultimo2 {
            background-color: black;
            height: 70%;
            display: flex;
            flex-direction: column;
        }

        .fim1 {
            background-color: gray;
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: space-between;
        }

        .triple {
            background-color: gray;
            width: 40%;
            display: flex;
    

        }

        .esquerda {background-color: gray; width: 60%; text-align: center;display: flex;justify-content: center;align-items: center;color: white; border: 2px solid; margin-left: 50px;}
        .direita {background-color: white; width: 20%;text-align: center;display: flex;justify-content: center;align-items: center; border-top-right-radius: 10px; border-bottom-right-radius: 10px;}

        .triple1 {
            background-color: white;
            width: 20%;
            display: flex;
}

.whatsupp {background-color:gray; width: 50%;display: flex;justify-content: center;align-items: center;}
.instagram {background-color: gray; width: 50%;display: flex;justify-content: center;align-items: center;}
.facebook {background-color: gray; width: 50%;display: flex;justify-content: center;align-items: center;}
        

.double {
            background-color: white;
            height: 80%;
            display: flex;
        }

        .rodape1 {
            background-color: green;
            width: 25%;
            display: flex;
            flex-direction: column;
          
        }

        .rodape11 {background-color: black;color: white; height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape12 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape13 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape14 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape15 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape16 {background-color: black;color: white;  height: 20%;}
        .rodape17 {background-color: black;color: white; height: 20%;}
       
        .rodape2 {
            background-color: pink;
            width: 25%;
            display: flex;
            flex-direction: column;
           
        }

        .rodape18 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape19 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape20 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape21 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape22 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape23 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape24 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}

        .rodape3 {
            background-color: orange;
            width: 25%;
            display: flex;
            flex-direction: column;
        }

        .rodape25 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape26 {background-color: black;color: white; height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape27 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape28 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape29 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape30 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape31 {background-color: black;color: white; height: 20%;display: flex;justify-content: center;align-items: center;}

        .rodape4 {
            background-color: black;
            width: 25%;
            display: flex;
            flex-direction: column;
        }
        .rodape32 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape33 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape34 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape35 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape36 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape37 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}
        .rodape38 {background-color: black;color: white;  height: 20%;display: flex;justify-content: center;align-items: center;}



        .double1 {
            background-color: black;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .footer1 {
            background-color: brown;
            width: 25%;
            height: 50%;
            display: flex;
            flex-direction: column;
        }
        .footer11 {background-color: black; color: white; height: 50%; display: flex; justify-content: center; justify-items: center;}
        .footer12 {background-color: black;color: white; height: 50%;display: flex; justify-content: center; justify-items: center;}

    
        .footer2 {
            background-color: black;color: white; 
            width: 25%;
            height: 50%;
            display: flex;
         flex-direction: column;
         
        }
      
           
       
        .footer13 {background-color: black;color: white; height: 50%; text-align: end;}
        
        .portugal1 {
            display: flex; justify-content: center; align-items: center; color: black; background-color: white; font-size: 200%;
        }



        .portugal2 video {
            width: 100%;
            height: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

       


        @media (max-width: 48rem) {
            html,
        body {
            margin: 0;
            height: 276.125rem;
            width: 24.375rem;
            padding: 0;
            display: flex;
            position: relative;
        }
}

@media (max-width: 48rem) {
            .filho1
     {  
            height: 2%;
            display: flex;
            position: relative;
            background-color: white;
            
           
         
        }
}

@media (max-width: 48rem) {
            .filho2
     {  background-color: green;
            height: 24.375rem;
            display: flex;
            position: relative;
         
        }
}
        @media (max-width: 48rem) {
            .cima2,
            .cima3,
            .cima4,
            .cima5,
            .cima6
           
           
        
            {
                 visibility: hidden;
                
               
            }
        }
  

        @media (max-width: 48rem) {
           
            .cima1
            
        
            {position: relative;
            }
        } 
   

 
        @media (max-width: 48rem) {
           
            .cima__
            
        
            {background-color: gray;
                width: 25%;
                height: 40%;
                position: absolute;
                left: 20%;
              
            }
        }
        @media (max-width: 48rem) {
    .menu {
        position: absolute;
        left: 185%;
    }
}

@media (min-width: 48.01rem) {
    .menu {
        display: none;
    }
}

@media (max-width: 48rem) {
    .div2 {position: absolute;
            top: 68%;
            left: 10%;
            width: 50%;
            color: white;
            font-size: 100%
       
    }
}



@media (max-width: 48rem) {
    .div1 { position: absolute;
            top: 82%;
            left: 10%;
            width: 18%;
            color: white;
            font-size: 50%;
            height: 13% ;
            color: black;
           border-radius: 10%;
       
    }
}

@media (max-width: 48rem) {
    .filho3 {
            background-color: white;
            height: 35%;
            display: flex;
            align-items:start;
            justify-content: center;

        }
}



@media (max-width: 48rem) {
 .secao{background-color: white;
            height: 26,625rem;
            display: flex;
            
           
            
        }
    }
    @media (max-width: 48rem) {
 .secao1,
 .secao2,
 .secao3
 { display: none;
           
            
        }
    }

    @media (max-width: 48rem) {
 .secao1media{ display: flex; height: 10%; background-color: white; color: black; justify-content: center;align-items: center; font-size: 150%;

            
        }
    }

    @media (max-width: 48rem) {
 .secao2media{ display: flex; height: 90%; margin: 2%;gap: 2%;
            
        }
    }

    @media (min-width: 48rem) {
 .secao1media{ display: none;

            
        }
    }

    @media (min-width: 48rem) {
 .secao2media{ display: none;
            
        }
    }
    @media (max-width: 48rem) {
 .parte01{ display: flex; height: 50%;margin-bottom: 4%;

            
        }
    }

    @media (max-width: 48rem) {
 .parte01 img,
 .parte02 img,
 .parte03 img { width: 100%; height: 100%;

            
        }
    }
    @media (max-width: 48rem) {
 .parte02{ display: flex; height: 50%;margin-bottom: 4%;

            
        }
    }



    @media (max-width: 48rem) {
 .parte03{ display: flex; height: 50%;

            
        }
    }



    @media (max-width: 48rem) {
 .parte1{ display: flex; width: 50%; flex-direction: column; 

            
        }
    }
    @media (max-width: 48rem) {
 .parte2{ display: flex; width: 50% ; flex-direction: column; 

            
        }
    }

    @media (max-width: 48rem) {
 .partedireita01{ display: flex; height: 50%;margin-bottom: 4%;

            
        }
    }

    
    @media (max-width: 48rem) {
 .partedireita01 img,
 .partedireita02 img,
 .partedireita03 img { width: 100%; height: 100%;

            
        }
    }

    @media (max-width: 48rem) {
 .partedireita02{ display: flex; height: 50%;margin-bottom: 4%;

            
        }
    }

    @media (max-width: 48rem) {
 .partedireita03{ display: flex; height: 50%;

            
        }
    }

    

    @media (max-width: 48rem) {
 .filho4 {   background-color: pink;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: end;
            

            
        }
    }
   
    @media (max-width: 48rem) {
 .filho5 {    background-color: white;
            height: 20%;
            display: flex;
           
            flex-direction: column;
            align-items: start;
            justify-content: center;
            


            
        }
    }
    @media (max-width: 48rem) {
 .centro { background-color: pink;
            width: 100%;
            height: 85%;
            display: flex;
            flex-direction: column;
            
            

            
        }
    }

    @media (max-width: 48rem) {
 .centro1,
 .centro2,
 .centro3 { 
    background-color: pink;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5%;
           

            
        }
    }
    
    @media (max-width: 48rem) {

 .centro2,
 .centro3 { 
  margin-top: 6%;
           

            
        }
    }



    @media (max-width: 48rem) {
.este
 { 
    
 
    background-color: red;
            width: 76rem;
            height: 37rem;
            display: flex;
            flex-direction: column;
           display:none;



           
       }
   }
    

   @media (max-width: 48rem) {
.estemedia
 { 
    display: flex; height: 100%; width: 100%;
    flex-direction: column;
    align-items: center;
            justify-content: center;
            position: relative;


           
       }
   }

   @media (max-width: 48rem) {
.este1media
 { 
    display: flex; height: 10%;justify-content: center;
    align-items: center; position: absolute; top: 2%;
 


           
       }
   }

   @media (min-width: 48rem) {
.este1media,
.este2media
 { 
    display: none;
 


           
       }
   }

   @media (max-width: 48rem) {
.este2media
 { 
    display: flex; height: 75%;gap: 3%; margin-top: 5%;
  


           
       }
   }
   @media (max-width: 48rem) {

.quadro120,
.quadro13
 { 
    display: flex; width: 50%;


           
       }
   }

   @media (max-width: 48rem) {
.quadro11

 { 
    display: flex; width: 25%; 


           
       }
   }
   @media (max-width: 48rem) {
.quadro11 img,
.quadro120 img,
.quadro13 img


 { 
   width: 100%; height: 100%;


           
       }
   }

   
   
   @media (max-width: 48rem) {

    .filho6 {
            background-color: orange;
            height: 25%;
            display: flex;
            flex-direction: column;
            
        

        
        }

 { 



 
   

